@keyframes example {
    0%{background: green}
    50%{background: yellow}
    100%{background: red}
}
div {
 background-color: green;
 animation-name: example;
 animation-duration: 3%s;
 animtaion-iteration-count: infinite;
}