@keyframes example {
    0%{background: green}
    50%{background: yellow}
    100%{background: red}
}

.border1:hover {
 background-color: green;
 animation-name: example;
 animation-duration: 6s;
 animtaion-iteration-count: infinite;
}