body{
    background-color: lightblue;

}
div .border11{
    border: 1px solid black;
}

div .border1 {
    border: 1px solid green;
    margin: 2px;
}
div .border2 {
    border: 1px solid red;
    margin: 2px 0;
}
#first {
    margin-top: 0px;

    font-size: 80px;
}